.main-menu{
    border-bottom: 1px solid #c6c6c6;
}

.main-gadget{
    .left-col{
        padding: 50px 20px 20px 50px;
        h6{
            text-transform: uppercase;
            background-color: rgb(2, 2, 165);
            color: white;
            padding: 10px;
        }
        .sec-row{
            margin: 0 0.5px 40px 0.5px;
            img{
                height: 70px;
                width: 70px;
                margin-right: 10px;
            }
            .card{
                background-color: none;
                border: none;
                border-bottom: 1px solid rgb(180, 180, 180);
            }
            p{
                margin:0;
            }
        }
        .bottom-card{
            border: none;
            padding: 0;
            .card-body{
                padding: 0;
            }
            p{
                margin: 10px;
            }
        }
    }
    
    .right-col{
        padding: 50px 20px 20px 50px;
        .second-row-right{
            margin-bottom: 30px;
            p{
                margin-right: 10px;
            }
        }
        .main-container{
            border-top: 1px solid rgba(201, 196, 196, 0.603);
            .card{
                border: none;
                height: 100px;
            }
            p{ 
                margin: 0;
            }
        }
    }
}

